
body{
    width: 78%;
}

#barra_logo{
    height: 70px;
    background-image: url(img/pattern.png);
    background-size: contain;
    background-color:cornflowerblue;
}

.titolo{
    font-size: 40px;
    font-style: normal;
}

.sottotitolo{
 color: cyan;
 margin-top: 0%;
}

.descrizione_foto{
    font-size: 12px;
    font-style: normal;
}

.colonna_piccola{
    margin-right: 50px;
    


}

.colonna_grande{
    margin-left: 50px;
    
}

.riga1{
    background-color:blueviolet;
}